.vl {
    border-left: 3px solid black;
    height: 800px;
    position: absolute;
    left: 30%;
    margin-left: -3px;
    top: 0;
  }

body {
    background: lightyellow;
    font: 18px Arial, sans-serif;
}


div.sfu {
    position: relative;
    top: 15px;
    left: 75px;
    color:orange;
}

h2 {
    color: orange;
    text-indent:750px;
}

.button {
    width: 500px;
    height: 500px;
  }

div.a {
    text-indent: 200px;
  }
  
div.upgrades {
    color: orange;
    position: absolute;
    top: 0px;
    left: 800px;
  }
  
  div.c {
    text-indent: 30%;
  }
